@import url('https://fonts.googleapis.com/css?family=Montserrat|Righteous|Maven+Pro|Abel|Aleo|Open+Sans+Condensed:300|Oswald|Thasadith|Dosis|Kaushan+Script|Lobster');

html, body {
	margin: 0;
	padding: 0;
}

.home-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #D6CCCC;
	width: 100%;
	/*background-color: #86ACDE;*/
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	width: 95vw;
	height: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: solid white 1px;
	border-bottom: solid white 1px;
}

.headerActivityPage-home {
	display: flex;
	position: fixed;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 50px;
	z-index: 15;
	background-color: none;
	transition: background-color 500ms ease-in;
}

.headerActivityPage-home-scroll {
	background-color: #E00F47;
	/* #D6CCCC */
}

.nameOfSite {
	margin: 0px 20px 0px 10px;
	padding: 0px;
	margin-right: auto;
}

.nameOfSite-a {
	text-decoration: none;
}

.nameOfSite-h1 {
	color: white;
	font-size: 26px;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
}

.newSets-navBar {
	margin-right: 10px;
}

.header-date {
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
}

.page-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.siteData-ul {
	margin-top: 100px;
	padding: 0;
	list-style-type: none;
	text-align: center;
	width: 100%;
}

.site-Li {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	color: white;
	border: 1px solid white;
	border-radius: 2px;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.iframe-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	background: rgba(38, 38, 38, 0.8);
	width: 100%;
	height: 100vh;
	visibility: hidden;
	position: fixed;
	top: 0;
	left:0;
	z-index: 15;
}

.iframe-close {
	border: 1px solid white;
	border-radius: 2px;
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	color: white;
	background-color: transparent;
	padding: 7px 15px 10px 15px;
	margin: 10px;
	cursor: pointer;
}

.li-iframe {
	border: 2px solid white;
	border-radius: 2px;
	background-color: grey;
	width: 85%;
	height: 450px;
	margin: 20px 5px 5px 5px;
}

.li-iframe-visible {
	visibility: visible;
}

/*
body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
*/
